.root{
    -fx-background-image: url('/sprites/menuWallpaper.jpeg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-border-color: blue;
}
.label{
    -fx-background-color: black;
    -fx-opacity: 0.70;
    -fx-text-fill: #96b946;

    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-border-style: solid;
    -fx-border-width: 10;
}
.scroll-pane {
    -fx-background-color: black;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}
#proceed, #quit{
    -fx-background-color: black;
    -fx-text-fill: yellow;
    -fx-font-size: 16px;
}