.root{
    -fx-background-color: black;
}
.scroll-pane {
    -fx-background-color: black;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}
.grid-pane{
    -fx-background-color: black;
}

.tab-pane{
 	-fx-background-color: black;
}
.tab {
 	-fx-background-color: black;
}
.tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.2;
}